/* main */

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
}

table {
    border-collapse: collapse;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    font-weight: bold;
}

a:visited {
    color: black;
}

.timetable .course-div {
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    border-radius: 0;
    z-index: 1;
    /* padding: 0 2px; */
    text-align: center;
}

.timetable tbody tr:nth-child(2n+1) .td-body {
    border-top: 1px solid rgb(145, 145, 145);
}

.timetable tbody tr:nth-child(2n) .td-body {
    border-top: 1px solid rgba(145, 145, 145, 0.4);
}

.timetable .td-body {
    height: 20px;
    border: none;
}

.timetable>tbody>tr>td,
.table>thead>tr>th {
    /* padding: 8px; */
    /* line-height: 1.42857143; */
    vertical-align: top;
    border-top: 1px solid #ddd;
}

.timetable td {
    width: 100px;
    height: 20px;
    position: relative;
}

.timetable td div p {
    color: white;
}

.timetable td div p:nth-child(1) {
    font-weight: bold;
    font-size: 12px;
}

.timetable td div p:nth-child(2) {
    font-size: 8px;
}

.timetable td div p:nth-child(3) {
    font-size: 10px;
    font-style: oblique;
}

.timetable td a:hover>p {
    color: black;
}

.timetable td.label-hour {
    text-align: right;
    padding-right: 5px;
    font-size: 9px;
    color: rgba(145, 145, 145, 0.568);
    width: 30px;
    border: 0;
}

.course-div {
    display: table;
}

.course-div>a {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}


/* svg */

text {
    user-select: none;
}


header {
    position: relative;
    display: block;
    float: top;
    width: 100vw;
    height: 200px;
}

#svgwrap{
    position:fixed;
    height: 100vh;
    width: 100vw;
    z-index: 10;
}



/* 
header>ul {
    display: block;
    position: absolute;
}

header>ul>li {
    display: block;
    position: relative;
    float: left;
} */

main {
    /* top: 200px; */
    float: top;
    position: relative;
    display: block;
}

footer {
    text-align: right;
}


.timetable {
    margin: 0 auto;
    transform: translateX(-15px);
    position: relative;
    z-index: 11;
}